.wo-od {
  background-image: url("https://thumbs.dreamstime.com/b/black-white-image-clothes-hanging-hanger-rack-choice-fashion-clothes-hangers-73495243.jpg");
  background-position: center;
  background-size: cover;
}

.product-details {
  color: crimson;
}
